
body { font-family: 'Merriweather', serif; font-size: 1rem; word-spacing: .1rem;}

/* Home */
#home {
    background-color: #f4efe1;
}
.carousel{
    width: 85%;
    padding-left: 160px;
}

.btn-primary{
    background-color: #056a2f;
    text-align: center;
}

.btn-primary2{
	background-color: #FFFFFF;
    text-align: center;
}
.fa-solid{
    padding: 10px
}
.navbar{
    height: 100px;
    }

/* Teams */
#teams {
	
}

.img-team {
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding-bottom: 50px;
	width: 400px
}


/* Coaches */
#coaches {
    background-color: #f4efe1;
}

#coletta {
	padding-left: 250px;
	padding-right: 500px;
	padding-top: 0;
	padding-bottom: 0;
}

#ross {
	padding-left: 250px;
	padding-right: 500px;
	padding-top: 0;
	padding-bottom: 0;
}

#hagner {
	padding-left: 250px;
	padding-right: 500px;
	padding-top: 0;
	padding-bottom: 0;
}

.img-coach{
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding-bottom: 50px;
	width: 400px
}

/* Sponsors */
#sponsors {
	padding-bottom: 0;
}

.img-sponsor {
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding-bottom: 50px;
	width: 1000px
}

/* Photo Gallery */
#photo {
	background-color: #f4efe1;
	padding-bottom: 0;
}


/* Citations */
#citations{
    color: #fff;
    text-align: center;
}
